@import "abstracts/_reset";

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#fitness {
  position: absolute;
  left: 4%;
  top: 4%;
  font-size: 1.2em;
  color: white;
}

#generation {
  position: absolute;
  right: 4%;
  top: 4%;
  font-size: 1.2em;
  color: white;
}
